
org.gs4tr.foundation.modules.entities.model.OrganizationInfo
org.gs4tr.foundation.modules.entities.model.PagedListInfo
org.gs4tr.foundation.modules.entities.model.PagedList
org.gs4tr.foundation.modules.entities.model.ProjectInfo
org.gs4tr.foundation.modules.entities.model.types.ItemStatusType
org.gs4tr.foundation.modules.entities.model.UserInfo
org.gs4tr.foundation.modules.security.model.Policy
org.gs4tr.foundation.modules.security.model.Role
org.gs4tr.foundation.modules.entities.model.RepositoryItem
org.gs4tr.foundation.modules.entities.model.ResourceInfo

org.gs4tr.termmanager.model.search.command.ProjectLanguageDetailRequest
org.gs4tr.termmanager.model.search.command.SubmissionLanguageDetailRequest
org.gs4tr.termmanager.model.BilingualTerm
org.gs4tr.termmanager.model.BilingualTermTranslation
org.gs4tr.termmanager.model.DashboardData
org.gs4tr.termmanager.model.EntityStatusPriority
org.gs4tr.termmanager.model.event.DetailState
org.gs4tr.termmanager.model.event.SubmissionState
org.gs4tr.termmanager.model.FolderPolicy
org.gs4tr.termmanager.model.Language
org.gs4tr.termmanager.model.LanguageAlignmentEnum
org.gs4tr.termmanager.model.MonolingualTerm
org.gs4tr.termmanager.model.NotificationProfile
org.gs4tr.termmanager.model.Preferences
org.gs4tr.termmanager.model.ProjectDashboardData
org.gs4tr.termmanager.model.ProjectDetail
org.gs4tr.termmanager.model.ProjectLanguage
org.gs4tr.termmanager.model.ProjectLanguageDetail
org.gs4tr.termmanager.model.ProjectUserLanguage
org.gs4tr.termmanager.model.search.command.TranslationSearchRequest
org.gs4tr.termmanager.model.Submission
org.gs4tr.termmanager.model.SubmissionLanguage
org.gs4tr.termmanager.model.SubmissionLanguageComment
org.gs4tr.termmanager.model.TaskResponse
org.gs4tr.termmanager.model.Term
org.gs4tr.termmanager.model.TermSearchRequest
org.gs4tr.termmanager.model.TmOrganization
org.gs4tr.termmanager.model.TmProject
org.gs4tr.termmanager.model.TmUserProfile
org.gs4tr.termmanager.model.TranslationUnit
org.gs4tr.termmanager.model.UpdateCommand
org.gs4tr.termmanager.model.UserCustomSearch
org.gs4tr.termmanager.model.search.TermEntrySearchRequest
org.gs4tr.termmanager.model.view.ProjectDetailView
org.gs4tr.termmanager.model.view.ProjectLanguageDetailView
org.gs4tr.termmanager.model.view.SubmissionDetailView
org.gs4tr.termmanager.model.view.SubmissionLanguageDetailView
org.gs4tr.termmanager.model.ProjectLanguageUserDetail

org.gs4tr.termmanager.service.model.command.TermEntryPreviewCommand
org.gs4tr.termmanager.service.model.command.BaseLingualCommand
org.gs4tr.termmanager.service.model.command.ExportCommand
org.gs4tr.termmanager.service.model.command.ExportSearchFilter
org.gs4tr.termmanager.service.model.command.ExportSearchFilter$EntityType
org.gs4tr.termmanager.service.model.command.ExportSearchFilter$TermNameAndSearchType
org.gs4tr.termmanager.model.search.command.UserProjectSearchRequest
org.gs4tr.termmanager.service.model.command.ForbidTermCommand
org.gs4tr.termmanager.service.model.command.LookupTermCommand
org.gs4tr.termmanager.service.model.command.LookupTermCommands
org.gs4tr.termmanager.service.model.command.MergeCommands
org.gs4tr.termmanager.service.model.command.ApproveMergeCommand
org.gs4tr.termmanager.service.ProjectLanguageDetailService
org.gs4tr.termmanager.service.SubmissionLanguageDetailViewService
org.gs4tr.termmanager.service.model.command.SendToTranslationCommand
org.gs4tr.termmanager.service.model.command.CheckProgressCommand
org.gs4tr.termmanager.service.model.command.CheckImportProgressCommand
org.gs4tr.termmanager.service.model.command.TranslationViewCommand
org.gs4tr.termmanager.service.model.command.TermEntryHistoryCommand
org.gs4tr.termmanager.service.model.command.GenerateImportTemplateCommand
org.gs4tr.termmanager.service.model.command.CheckAnalysisProgressCommand
org.gs4tr.termmanager.service.model.command.MultipleTermEntriesMergeCommand
org.gs4tr.termmanager.service.model.command.ImportCommand

org.gs4tr.termmanager.service.file.analysis.response.FilesAnalysisResponse

org.gs4tr.termmanager.service.file.analysis.model.FileAnalysisAlert
org.gs4tr.termmanager.service.file.analysis.model.Alert
org.gs4tr.termmanager.service.file.analysis.model.FileAnalysisReport

org.gs4tr.termmanager.model.glossary.Description
org.gs4tr.termmanager.model.glossary.Term
org.gs4tr.termmanager.model.glossary.TermEntry

org.gs4tr.termmanager.model.view.ProjectReport
org.gs4tr.termmanager.model.search.command.SubmissionSearchRequest
org.gs4tr.termmanager.model.Attribute
org.gs4tr.termmanager.model.ProjectUserDetail
org.gs4tr.termmanager.model.UserProjectRole
org.gs4tr.termmanager.model.Statistics
org.gs4tr.termmanager.model.BatchJobInfo
org.gs4tr.termmanager.model.ProjectTerminologyCounts

org.gs4tr.termmanager.model.event.EventMessage
org.apache.solr.client.solrj.response.FacetField
org.gs4tr.termmanager.persistence.solr.faceting.FacetTermCounts

org.gs4tr.tm3.api.Page

org.gs4tr.termmanager.service.model.command.DeleteTermCommands

org.gs4tr.termmanager.service.model.command.TermCommandPerProject
org.gs4tr.termmanager.service.model.command.ChangeTermStatusCommands

org.gs4tr.termmanager.model.event.StatisticsInfo