<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
              http://www.mockito.org/spring/mockito classpath:mockito.xsd">

	<mockito:mock id="exclusiveWriteLockManager"
		class="org.gs4tr.termmanager.service.lock.manager.ExclusiveWriteLockManager" />

</beans>