<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
  http://www.mockito.org/spring/mockito classpath:mockito.xsd">

    <mockito:mock id="dbSubmissionTermEntryDAO"
                  class="org.gs4tr.termmanager.dao.backup.DbSubmissionTermEntryDAO"/>

    <mockito:mock id="dbTermEntryDAO"
                  class="org.gs4tr.termmanager.dao.backup.DbTermEntryDAO"/>

    <mockito:mock id="regularBackupCleanerDAO"
                  class="org.gs4tr.termmanager.dao.backup.RegularBackupCleanerDAO"/>

    <mockito:mock id="submissionBackupCleanerDAO"
                  class="org.gs4tr.termmanager.dao.backup.SubmissionBackupCleanerDAO"/>

    <mockito:mock id="projectDAO" class="org.gs4tr.termmanager.dao.ProjectDAO"/>

    <mockito:mock id="hibernateSessionFactory" class="org.hibernate.SessionFactory"/>

    <mockito:mock id="projectLanguageDAO" class="org.gs4tr.termmanager.dao.ProjectLanguageDAO"/>

</beans>