<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="environment:messages/messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="localeResolver"
          class="org.gs4tr.foundation.modules.webmvc.i18n.CookieLocaleResolver">
        <property name="cookieName" value="ext-locale"/>
        <property name="defaultLocale" value="en-US"/>
        <property name="cookieValueExtractRegex" value="^s:([a-zA-Z_-]*)"/>
    </bean>

    <bean id="applicationContextLocator"
          class="org.gs4tr.foundation.modules.spring.ApplicationContextLocator">
    </bean>

</beans>