org.gs4tr.foundation.modules.entities.model.PagedList
org.gs4tr.foundation.modules.entities.model.PagedListInfo
org.gs4tr.foundation.modules.entities.model.ProjectInfo
org.gs4tr.foundation.modules.entities.model.Identifiable
org.gs4tr.foundation.modules.entities.model.TaskPagedList
org.gs4tr.foundation.modules.entities.model.TaskPriority
org.gs4tr.foundation.modules.entities.model.Task
org.gs4tr.foundation.modules.entities.model.Ticket
org.gs4tr.foundation.modules.entities.model.Metadata
org.gs4tr.foundation.modules.entities.model.OrganizationInfo
org.gs4tr.foundation.modules.security.model.Role
org.gs4tr.foundation.modules.security.model.Policy
org.gs4tr.foundation.modules.security.model.RoleTypeEnum
org.gs4tr.foundation.modules.entities.model.SelectStyleEnum
org.gs4tr.foundation.modules.entities.model.UserInfo
org.gs4tr.foundation.modules.entities.model.types.ItemStatusType
org.gs4tr.foundation.modules.usermanager.model.AbstractUserProfile
org.gs4tr.foundation.modules.usermanager.model.UserProfileMetadata
org.gs4tr.foundation.modules.entities.model.RepositoryItem
org.gs4tr.foundation.modules.entities.model.ResourceInfo

org.gs4tr.termmanager.model.MultilingualTerm
org.gs4tr.termmanager.model.EntityStatusPriority
org.gs4tr.termmanager.model.FolderPolicy
org.gs4tr.termmanager.model.DashboardData
org.gs4tr.termmanager.model.TaskResponse
org.gs4tr.termmanager.model.TermHolder
org.gs4tr.termmanager.model.TmOrganization
org.gs4tr.termmanager.model.TmUserProfile
org.gs4tr.termmanager.model.TmProject
org.gs4tr.termmanager.model.Language
org.gs4tr.termmanager.model.LanguageAlignmentEnum
org.gs4tr.termmanager.model.NotificationProfile
org.gs4tr.termmanager.model.Submission
org.gs4tr.termmanager.model.SubmissionLanguage
org.gs4tr.termmanager.model.SubmissionLanguageComment
org.gs4tr.termmanager.model.Preferences
org.gs4tr.termmanager.model.ProjectDetail
org.gs4tr.termmanager.model.ProjectDashboardData
org.gs4tr.termmanager.model.ProjectLanguage
org.gs4tr.termmanager.model.ProjectUserLanguage
org.gs4tr.termmanager.model.UserCustomSearch
org.gs4tr.termmanager.model.TaskModel
org.gs4tr.termmanager.model.view.ProjectDetailView
org.gs4tr.termmanager.model.view.ProjectLanguageDetailView
org.gs4tr.termmanager.model.view.SubmissionDetailView
org.gs4tr.termmanager.model.view.SubmissionLanguageDetailView
org.gs4tr.termmanager.model.dto.ExportTermModel
org.gs4tr.termmanager.model.dto.HistoryItem
org.gs4tr.termmanager.service.model.command.OrganizationCommand

org.gs4tr.termmanager.model.glossary.TermEntry
org.gs4tr.termmanager.model.glossary.Term
org.gs4tr.termmanager.model.glossary.Priority
org.gs4tr.termmanager.model.BatchJobInfo
org.gs4tr.termmanager.webmvc.model.commands.TaskCommand
org.gs4tr.termmanager.webmvc.model.commands.PreferencesUpdateCommand

org.gs4tr.termmanager.webmvc.model.commands.SearchCommand
org.gs4tr.termmanager.webmvc.model.commands.CancelExportCommand
org.gs4tr.termmanager.webmvc.model.commands.CancelDownloadExportCommand
org.gs4tr.termmanager.webmvc.model.commands.DeleteResourceCommand
org.gs4tr.termmanager.webmvc.model.commands.CancelImportRequestCommand
